<!DOCTYPE html>
<html lang="fr" data-theme="bumblebee">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTION KILOMETRAGE VEHICULES GMAX v1.0</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="flex justify-center mt-32">
        <div class="flex flex-col w-3xl bg-base-200 rouded-xl p-6">
            <div class="w-full h-fit">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div> 
    <footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4 mt-4">
        <aside>
            <p>GMAX KM - Version : {{ GMAX_KM_VERSION }} - Copyright © 2026 - Tous Droits Reserves par GMAX SERVICES</p>
        </aside>
    </footer>   
</body>
</html>