{% extends "gmax_km/base.html" %}


{% block content %}    
    <form method="POST" class="space-y-4 flex flex-col">
        <span class="text-center">Etes-vous sûr de vouloir supprimer l'entrée N° {{log.id}} 
            relative au vehicule immatriculé <strong>{{log.vehicule.immatriculation}}</strong> ?
            <br><i> (du {{log.date_log}} avec {{log.km}} km)</i>
        </span>
        {% csrf_token %}
        <button type="submit" class="btn btn-error">Oui</button>
        <a href="{% url 'gmax_km:liste_logs_url' %}" class="btn btn-primary w-full">Annuler</a>
    </form>
{% endblock %}