<!DOCTYPE html>
<html lang="fr" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AERIAL GAME</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav>
        <a href="{% url 'aerial:liste_players_url' %}" class="btn btn-primary btn-sm">HOME</a>
    </nav>
    <div class="flex justify-center mt-16">
        <div class="flex flex-col w-3xl bg-base-200 rouded-xl p-6">
            <div class="w-full h-fit">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div> 
    <footer class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content p-4 mt-4">
        <aside>
            <p>AERIAL - Version : {{ AERIAL }} - Copyright © 2026 - Tous Droits Reserves par KABA JEWED</p>
        </aside>
    </footer>   
</body>
</html>