{% extends "aerial/base_pour_joueur_connecte.html" %}
{% load humanize %}

{% block content %}
<h1 class="text-2xl font-bold mb-5 text-center">DASHBOARD {{player.alias}} (N° {{player.id}})</h1>
<!-- Statistiques globales du joueur -->
<div class="w-full mb-6 bg-primary text-primary-content flex gap-8 rounded-lg p-6">
    <div class="space-y-2 flex-1 text-center">
        <div class="mb-4 text-3xl font-bold">{{player.entreprises.count|intcomma}}</div>
        <p class="text-lg font-semibold">Entreprise(s)</p>
    </div>
    <div class="space-y-2 flex-1 text-center">
        <div class="mb-4 text-3xl font-bold">{{player.cash|intcomma}} XAF</div>
        <p class="text-lg font-semibold">Cash</p>
    </div>
    <div class="space-y-2 flex-1 text-center">
        <div class="mb-4 text-3xl font-bold">{{player.total_cash_flow|intcomma}} XAF /h</div>
        <p class="text-lg font-semibold">Cash Flow</p>
    </div>
</div> 
<div class="w-full bg-base-200">
    -- Profil -- <br>
    <div class="mb-2">
        Nom : {{player.nom}} <br>
        Prenom : {{player.prenom}} <br>
        Alias : {{player.alias}} <br>
        Email : {{player.email}} <br>
        Emploi : {{player.emploi|capfirst}} <i>(Sal. {{player.emploi.cash_flow}} XAF/h)</i> <br>
        Créé le : {{player.created_at}} <br> 
        Modifié le : {{player.updated_at}} <br> 
    </div>
</div>
{% endblock %}