{% extends "aerial/base_pour_joueur_connecte.html" %}
{% load humanize %}

{% block css_header %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/minijeu_mangue.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-5 text-center">MINI JEU MANGUE {{player.alias}} (N° {{player.id}})</h1>
<!-- Statistiques globales du joueur -->
<div class="mb-3 bg-secondary text-primary-content flex gap-8 rounded-lg">
    <div class="stat place-items-center font-bold">
        <div class="stat-title">CASH</div>
        <div id="stat-cash" class="stat-value ">{{player.cash|floatformat:2|intcomma}} XAF</div>
    </div>
</div> 
<div>
    <!-- affichage image cliquable-->
    {% load static %}
    <img id="manguier" src="{% static 'images/minijeu_mangue/manguier3.png' %}" alt="Ramasser les mangues" 
         class="ml-10 h-85 object-cover mx-autocursor-pointer active:scale-95 transition-transform"
         hx-post="{% url 'aerial:clic_mangue_cash_up_url' player.id %}" 
         hx-target="#stat-cash" 
         hx-swap="innerHTML"
         hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <p class="text-center mb-2">Cliquer pour récolter du cash !</p>
</div>
<div class="w-full mb-6 bg-secondary text-primary-content flex gap-8 rounded-lg p-3">    
    <div class="space-y-2 flex-1 text-center">
        <div class="flex space-x-2">
            <div class="stat">
                <div class="stat-title">NIVEAU</div>
                <div id="stat-level" class="stat-value">{{minijeu.lvl|intcomma}}</div>
            </div>
            <div>
                <button id="btn_level_up" class="btn btn-neutral btn-xs p-6 mt-7"
                hx-post="{% url 'aerial:clic_mangue_level_up_url' player.id %}"
                hx-swap="none"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Niveau +1</button> 
            </div>
        </div> 
        <div id="stat-level-up-cost" class="font-semibold outline-dashed outline-1 outline-primary p-2">
            - Prochain niveau - <br> 
            <i>Coûts: {{minijeu.get_level_up_cost|floatformat:2|intcomma}} XAF</i>
        </div>              
    </div>   
    <div class="space-y-2 flex-1 text-center">
        <div class="stat place-items-center">
            <div class="stat-title">CASH FLOW</div>
            <div id="stat-cash-flow" class="stat-value ">{{minijeu.cash_flow|floatformat:2|intcomma}}</div>
        </div>
        <div id="stat-next-level-cash-flow" class="font-semibold outline-dashed outline-1 outline-primary p-2">
            - Prochain niveau - <br> 
            <i>{{minijeu.get_next_level_cash_flow|floatformat:2|intcomma}} XAF/clic</i>
        </div>        
    </div>
</div>
{% endblock %}